* {
  margin: 0;
  color: white;
  font-family: helvetica;
}

html {
  font-size: 18px;
}

body {
  width: 100%;
}

#header {}

p {
  color: black;
}

.container {
  border: 1px solid red;
}

#topbar {
  background-color: black;
  display: inline-flex;
  width: 100%;
}

#storename {
  align-items: center;
  padding-top: 5px;
  font-size: 0.75rem;

}

#topbar .container {
  display: block;
}

#topbar img {
  height: 1.5rem;
  padding-left: 50px;
  padding-right: 1rem;
}

.promo {
  background-color: black;
  background-image: url(https://github.com/dylanblanchard/secretagentsupply/blob/master/resources/images/moto.jpeg?raw=true);
  height: 25rem;
  background-size: cover;

}

#promobox {
  background-color: black;
  width: 20rem;
  height: 150px;
  padding-top: 35px;
  padding-left: 20px;
}

#promobox h4 {
  font-size: 1rem;
}

#poobutt {
  padding-top: 9rem;
  padding-left: 5rem;
}

nav {
  background-color: firebrick;
}

ul {
  display: inline-flex;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .75em 0;
}

li {
  list-style-type: none;

}

.products {
  display: flex;
  padding: 40px;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.product {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 30%;
  display: block;
  padding-right: 3rem;
}

.product-image {
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  max-width: 8em;
}

.product-text {
  background-color: black;
  font-size: 1rem;
  text-align: center;
  padding: .5rem;
}


#locations {
  display: inline-flex;
  width: 100%;
  height: 100px;
  line-height: 40px;
  justify-content: space-around;
  align-items: center;

}

.lochours {
  width: 300px;
  padding-bottom: 4rem;
}

.loctop {
  padding-left: 2rem;
  background-color: black;
}

.loctop h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bottom {
  
}

footer {
  height: 5rem;
  width: 100%;
  background-color: black;
  text-align: left;
  padding-left: 6rem;
}

footer h4 {
  padding-top: 40px;
}
